:root {
    --boardSize: 80px;
    --primary-blue: #134686;
    --primary-red: #ED3F27;
    --primary-yellow: #FEB21A;
    --primary-pale: #FDF4E3; 
    --cross-color: var(--p1-color);
    --circle-color: var(--p2-color);
    --fascinate-font: "Fascinate";
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--primary-pale);
}

.startScreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px
}

.startScreen .playerContainers {
    display: flex;
    gap: 400px;
    margin-top: 70px;
}

.startScreen .player {
    width: 200px;
    text-align: center;
}

.O-player {
    
}

.startScreen h1 {
    font-family: var(--fascinate-font), system-ui;
    font-size: 2.9rem;
}

.gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerNames {
    display: flex;
    gap: 25px;
}

.player {
    border-radius: 9999px;
    border: 2px rgb(0, 167, 130) solid;
    padding: 10px 25px;
    font-size: 1.2rem;
}

.gameBoard {
    margin-top: 12px;
    display: grid;
    grid-template: repeat(3, var(--boardSize)) / repeat(3, var(--boardSize));
    border: 1px solid black;
}

.gameBoard.illegalMove {
    border: 1px solid red;
}

.boardSquare {
    background-color: white;
    border: 1px solid black;
    outline: none;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross path{
    fill: var(--cross-color);
}

.circle path {
    fill: var(--circle-color);
}